@model IEnumerable<WebProje.Models.Blog>

@{
    ViewData["Title"] = "Index";
    Layout = "/Views/Shared/_NoSliderLayout.cshtml";
}

<h1>Blog Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Title)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Image)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.CreateDate)</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <img src="~/images/blog/@item.Image" alt="@item.Image" height="40" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateDate)
                </td>
                <td>
                    <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit" aria-hidden="true"></i> Edit</a>
                    <a class="btn btn-info btn-sm"  asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-info-circle" aria-hidden="true"></i> Details</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
